<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Home</title>
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
              <a class="navbar-brand col-4" href="/">Notes</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav col-12">
                    <a class="nav-link col-6" href="/note">Add note</a>
                    <a class="nav-link col-6 active" href="/categorie">Add categorie</a>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <main class="main">
        <div class="container">
            <div class="row mt-5 center">
                <form class="col-6">
                    <div class="mb-3">
                        <label class="form-label">Categorie name</label>
                        <input type="text" class="form-control" name="cName">
                    </div>
                    <div class="mb-3">
                        <input class="btn btn-dark" type="submit" value="Create categorie">
                    </div>
                </form>
            </div>
        </div>
    </main>
    <script defer src="js/bootstrap.bundle.min.js"></script>
    <script defer src="js/createCategorie.js"></script>
</body>
</html>